<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<h1>To jest pierwsza strona</h1>
Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aliquam consequatur cupiditate debitis exercitationem fugiat illo impedit itaque labore maiores mollitia placeat quasi quis quisquam ratione sint, sit totam ullam vitae.

<p>Przejdź do strony <a href="{% url 'second_name' %}">drugiej</a></p>
<!--<p>Przejdź do strony <a href="/links/second">drugiej</a></p>-->
</body>
</html>